{% for name in site.social-network-links %}
  {% assign network_name = name[0] %}
  {% assign network_value = name[1] %}

  {% if network_name == "email" %}
  <li class="list-inline-item">
    <a href="mailto:{{ network_value }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
    </a>
  </li>
  {% endif %}

  {% if network_name == "bluesky" %}
  <li class="list-inline-item">
    <a rel="me" href="https://bsky.app/profile/{{ network_value }}" title="Bluesky">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-bluesky fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Bluesky</span>
    </a>
  </li>
  {% endif %}

  {% if network_name == "google-scholar" %}
  <li class="list-inline-item">
    <a href="https://scholar.google.com/citations?user={{ network_value }}" title="Google Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Google Scholar</span>
    </a>
  </li>
  {% endif %}

{% endfor %}
